* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #FFFFFF; /* Fondo blanco */
  color: #1D2766; /* Azul oscuro para el texto */
}

.menu-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  background-color: #ffffff; /* Azul oscuro */
  color: #0a0827;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s ease;
}

.menu-toggle.hidden {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #ffffff; /* Fondo azul oscuro */
  color: #02021d;
  padding-top: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  left: 0;
}

.sidebar .close-btn {
  background: none;
  border: none;
  color: #000000;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background-color: #3A47AD; /* Azul intermedio */
}

.main-content {
  margin-left: 20px;
  padding: 40px 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  color: #1D2766; /* Azul oscuro */
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.weather-box {
  background-color: #F0F4FF; /* Azul muy claro */
  color: #1D2766; /* Azul oscuro */
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.weather-box h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.weather-box h1, .weather-box h3 {
  font-size: 2.5rem;
}

.hidden {
  display: none;
}
