ion-header {
   background-color: #ffffff; 


ion-toolbar {
    --background: #f8f9fa;
    ion-title {
      color: #000000; 
      font-size: 1.5rem;
      text-align: center;
    }

    ion-back-button {
      color:#003366;
    }
  }
}

ion-content {
  --background: #ffffff;
  padding: 20px;

  ion-item {
    background-color: #000000;
    border-radius: 8px;
    margin-bottom: 20px;

    ion-label {
      color: #000000;; 
      font-size: 1.1rem;
      font-family: 'Verdana', sans-serif; 
    }

    ion-input {
      color: #003366;
    }
  }

  ion-button {
    --background: #f0db4f; 
    --color: #003366;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 8px;
    --border-radius: 8px;
  }

  ion-button[fill="clear"] {
    color: #003366; 
    font-size: 0.9rem;
  }

  ion-img.logo {
    display: block;
    margin: 20px auto;
    width: 200px; 
    height: auto;
  }
}

  