ion-header {
  background-color: #f8f9fa; 
  --ion-background-color: #f8f9fa;

  ion-toolbar {
    --background: #f8f9fa;
    ion-title {
      color: #003366; /* Azul oscuro, acorde a Duoc UC */
      font-size: 1.2rem;
      text-align: center;
      
      .logo {
        width: 200px; 
        height: auto;
      }
    }

    ion-back-button {
      color: #003366; 
    }
  }
}

ion-content {
  --background: #ffffff !important; 
  padding: 20px;

  .centered-content {
    text-align: center;
  }

  .page-title {
    color: #003366; 
    font-size: 2rem;
    margin-bottom: 20px;
  }

  ion-button {
    --background: #f0db4f; 
    --color: #003366; 
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 8px;
    --border-radius: 8px;
    margin-bottom: 10px;
  }


}



