<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón para abrir el menú lateral -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding">
  <h1>Bienvenido {{ nombreUsuario }}</h1>

  <!-- Mostrar las clases del estudiante -->
  <ion-list>
    <ion-item *ngFor="let clase of clases" class="card">
      <ion-label>
        <h2>{{ clase.nombre }}</h2>
        <p>Sección: {{ clase.seccion }}</p>
        <p>Profesor: {{ clase.profesor }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<!-- Menú lateral -->
<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <!-- Botón de cerrar sesión -->
      <ion-item button (click)="cerrarSesion()">
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
